<div>
  <div>
    <h2></h2>
  </div>
  <div>
    <table class="table table-condensed table-striped" id="config-info-table">
      <thead>
        <tr>
          <th class="col-md-2"><strong>Name</strong></th>
          <th class="col-md-2"><strong>Active</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="device in exi.devices">
          <td>{{ device.device }}</td>
          <td>{{ device.active }}</td>
          <td>
            <button type="submit" class="btn btn-xs" ng-click="deviceDetail(device)"><span class="glyphicon glyphicon-edit"></span></button>
          </td>
        </tr>
        <tr ng-show="siteSelected && devices.length==0">
          <td colspan="3">No switch registered.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
